.article
  %h2= @article.title
  %img{ src: 'https://assets-pre.nfhslearn.com/uploads/course/avatar/61028/VF9L6565.jpg' }
  %em= "#{article_time(@article.created_at)},"
  %em
    by: author_name
    -# author
  ratings *****
  %p= @article.text
  tags
  %h3 Comments
  =# render 'shared/comments_count'
  = render 'shared/fb_comments', url: root_url + @article.pretty_path
